table {
    width: 100%;
}


table,th,td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
}
th {
    background-color: pink;
    ;
    color: blueviolet;
}
td:nth-child(1) { color: blue;

}
tr:nth-child(even) {background-color:lavenderblush;}